<!doctype html>
<html>
    <body>
        <p>
            <strong>Thanks for the registration. Confirm your details</strong>
        </p>
        <tableborder=1>
            {% for key, value in result.items() %}
                <tr>
                    <th> {{key}} </th>
                    <td> {{value}} </td>
                </tr>
            </br>
            {% endfor %}
            
        </table>
        <input type=button onClick="location.href='home'" value='Done'>
    </body>
    </html>