<!doctype html>
<html>
    <body>
        <p>
            <strong>Showing Student Record</strong>
        </p>
        <style>
            table {
                border:none;
                border-collapse: collapse;
            }

            table td,th {
                border-left: 1px solid #000;
                border-right: 1px solid #000;
            }
            table th {
                border-bottom: 1px solid #000;
                border-top: 1px solid #000;
            }
            table tr:last-child {
                border-bottom: 1px solid #000;
            }
        </style>
        <table>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Due Amount</th>
            <th></th>
            {% for row in result %}
                <tr>
                {% for item in row %}
                        <td> {{item}} </td>
                {% endfor %}
                </tr>
            </br>
            {% endfor %}
            
        </table>
    </br></br></br>
        <input type=button onClick="location.href='home'" value='Done'>
    </body>
    </html>