<html>

<head>

</head>

<body>
    <h3>Submit changes.</h3>
    <form action="http://localhost:5000/update" method="POST" id="update_form">
        <p>ID : <input type="number" name="id" id="st_id" /></p>
        <p>First Name : <input type="text" name="fname" id="fname" /></p>
        <p>Last Name : <input type="text" name="lname" id="lname" /></p>
        <p>Date of Birth : <input type="date" name="dob" id="dob" /></p>
        <p>Due Amount : <input type="number" name="due" id="due" /></p>
        <p><input type="submit" value="submit" /></p>
        <script>
            var st_id = {{ st_id }}
            var fname = '{{ fname }}'
            var lname = '{{ lname }}'
            var dob = '{{ dob }}'
            var due = {{ due }}
            document.getElementById("st_id").value = st_id
            document.getElementById("fname").value = fname 
            document.getElementById("lname").value = lname
            document.getElementById("dob").value = dob
            document.getElementById("due").value = due
        </script>
    </form>
</body>

</html>